[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Kwave Sound Editor
Name[de]=Kwave Sound-Editor
Name[fr]=Kwave éditor de sons
Comment=A sound editor for KDE
Comment[de]=Ein Sound-Editor für KDE
Comment[fr]=Un éditor de sons pour KDE
TryExec=kwave
Exec=kwave %F
Icon=kwave.png
MimeType=audio/wav;audio/x-wav;audio/basic;audio/x-mp1;audio/x-mp2;audio/x-mp3;audio/x-ogg;audio/x-aifc;audio/x-aiff;audio/x-ircam
Terminal=0
