[Desktop Entry]
Version=1.0
Type=Application
Name=Kwave Sound Editor
Name[de]=Kwave Sound-Editor
Name[fr]=Kwave éditeur de sons
Comment=A sound editor for KDE
Comment[de]=Ein Sound-Editor für KDE
Comment[fr]=Un éditeur de sons pour KDE
TryExec=kwave
Exec=kwave %F
Icon=kwave
MimeType=audio/wav;audio/x-wav;audio/basic;audio/x-mp1;audio/x-mp2;audio/x-mp3;audio/x-ogg;application/ogg;audio/x-aifc;audio/x-aiff;audio/x-ircam;
Terminal=false
