############################################################################
#        menus.config  -  Kwave menu command file
#                            -------------------
#   begin                : Sat Feb 3 2001
#   copyright            : (C) 2001 by Thomas Eschenbacher
#   email                : Thomas.Eschenbacher@gmx.de
############################################################################
#
############################################################################
#                                                                          #
#    This program is free software; you can redistribute it and/or modify  #
#    it under the terms of the GNU General Public License as published by  #
#    the Free Software Foundation; either version 2 of the License, or     #
#    (at your option) any later version.                                   #
#                                                                          #
############################################################################

    menu (plugin(newsignal),&File/&New.../#icon(document-new),CTRL+N)
    menu (open(),&File/&Open,CTRL+O)
    menu (open(),&File/&Open/#icon(document-open))
    menu (openrecent(%1),&File/Open &Recent/#listmenu,,ID_FILE_OPEN_RECENT)
    menu (openrecent(%1),&File/Open &Recent/#number)
    menu (openrecent(%1),&File/Open &Recent/#icon(document-open-recent))

    menu (ignore(),&File/#separator)
    menu (plugin:setup(record),&File/&Record/#icon(media-record),F2)

    menu (ignore(),&File/#separator)

    menu (save(),&File/&Save/#icon(document-save),::Save,ID_FILE_SAVE_CURRENT)
    menu (save(),&File/&Save/#group(@SIGNAL))
    menu (ignore(),&File/S&ave/#group(@SIGNAL),,ID_FILE_SAVE)
        menu (saveas(),&File/S&ave/&As.../#icon(document-save-as),SHIFT+::Save)
        menu (saveas(),&File/S&ave/&As.../#group(@SIGNAL),SHIFT+::Save)
        menu (saveselect(),&File/S&ave/&Selection.../#group(@SELECTION))
        menu (plugin:setup(saveblocks),&File/S&ave/&Blocks.../#group(@LABELS))
        menu (plugin:setup(saveblocks),&File/S&ave/&Blocks.../#icon(document-save-all))
    menu (close(),&File/&Close/#group(@NOT_CLOSED),::Close,ID_FILE_CLOSE)
    menu (close(),&File/&Close/#icon(dialog-close))
    menu (ignore(),&File/#separator)

    menu (newwindow(),&File/New &Window/#icon(window-new),::New)
    menu (ignore(),&File/#separator)

    menu (revert(),&File/Revert/,CTRL+R,ID_FILE_REVERT)
    menu (revert(),&File/Revert/#icon(document-revert))

    menu (ignore(),&File/#separator)

    menu (quit(),&File/&Quit/#icon(application-exit),CTRL+Q)
    menu (ignore(),&File,,ID_FILE)

menu (ignore(),&Edit/#group(@NOT_CLOSED),,ID_EDIT)
    menu (undo(),&Edit/&Undo/#icon(edit-undo),::Undo,ID_EDIT_UNDO)
    menu (undo(),&Edit/&Undo/#disabled)
    menu (redo(),&Edit/&Redo/#icon(edit-redo),::Redo,ID_EDIT_REDO)
    menu (redo(),&Edit/&Redo/#disabled)
    menu (ignore(),&Edit/#separator)
    menu (cut(),&Edit/Cu&t/#icon(edit-cut),::Cut)
    menu (cut(),&Edit/Cu&t/#group(@SIGNAL,@SELECTION))
    menu (copy(),&Edit/&Copy/#icon(edit-copy),::Copy)
    menu (copy(),&Edit/&Copy/#group(@SIGNAL,@SELECTION))
    menu (paste(),&Edit/&Paste/#icon(edit-paste),::Paste)
    menu (paste(),&Edit/&Paste/#group(@SIGNAL,@CLIPBOARD))
    menu (crop(),&Edit/&Crop/#icon(crop),SHIFT+::Cut)
    menu (crop(),&Edit/&Crop/#group(@SIGNAL,@SELECTION))
    menu (delete(),&Edit/&Delete/#icon(edit-delete),::Delete)
    menu (delete(),&Edit/&Delete/#group(@SIGNAL,@SELECTION))
    menu (ignore(),&Edit/#separator)

#   menu (dialog(stringenter),&Edit/&Enter Command,CTRL+E)
#   menu (ignore(),&Edit/#separator)

    menu (selectall(),&Edit/&Selection/#group(@SIGNAL))
    menu (selectall(),&Edit/&Selection/&All,::SelectAll)
    menu (plugin:setup(selectrange),&Edit/&Selection/&Range,R)
    menu (selectvisible(),&Edit/&Selection/&Visible Area,V)
    menu (selectnext(),&Edit/&Selection/&Next,SHIFT++)
    menu (selectprev(),&Edit/&Selection/&Previous,SHIFT+-)
    menu (selectnone(),&Edit/&Selection/&Nothing,N)
    menu (selecttoleft(),&Edit/&Selection/To &Start,::SelectStartOfLine)
    menu (selecttoright(),&Edit/&Selection/To &End,::SelectEndOfLine)
    menu (expandtolabel(),&Edit/&Selection/&Expand to Labels/#group(@LABELS),E)
    menu (selectnextlabels(),&Edit/&Selection/To Next Labels/#group(@LABELS),SHIFT+CTRL+N)
    menu (selectprevlabels(),&Edit/&Selection/To Previous Labels/#group(@LABELS),SHIFT+CTRL+P)
    menu (ignore(),&Edit/#separator)

    menu (add_track(),&Edit/&Track/&Add/#group(@NOT_CLOSED),SHIFT+A)
    menu (add_track(),&Edit/&Track/&Add/#icon(list-add))
    menu (delete_track(%1),&Edit/&Track/&Delete/#listmenu,,ID_EDIT_TRACK_DELETE)
    menu (delete_track(%1),&Edit/&Track/&Delete/#icon(list-remove))
    menu (ignore(),&Edit/&Track/&Delete/#group(@SIGNAL))
#   menu (dialog(mix),&Edit/&Track/&Mix/#group(@SIGNAL),SHIFT+M)
#   menu (ignore,&Edit/&Track/&Mix/#disabled,SHIFT+M)
    menu (select_all_tracks(),&Edit/&Track/&Select all/#group(@SIGNAL),SHIFT+::SelectAll)
    menu (invert_track_selection(),&Edit/&Track/&Invert Selection/#group(@SIGNAL),SHIFT+I)

    menu (ignore(),&Edit/#separator)
    menu (ignore(),&Edit/Clip&board/#group(@SIGNAL,@CLIPBOARD))
        menu (clipboard_flush(),&Edit/Clip&board/&Flush/#group(@SIGNAL,@CLIPBOARD))
        menu (clipboard_flush(),&Edit/Clip&board/&Flush/#icon(edit-clear),)
#       menu (clipboard_tonew(),&Edit/Clip&board/&To New Window/#disabled,)
        menu (nomacro:plugin:setup(insert_at),&Edit/Clip&board/Insert &At.../#group(@SIGNAL,@CLIPBOARD))

#   menu (ignore(),&Edit/#separator)
#   menu (mixpaste(),&Edit/&Mix & Paste/#disabled,SHIFT+::Copy)
#   menu (trim(),&Edit/Tri&m/#disabled,CTRL+T)

    menu (ignore(),&Edit/#separator)
    menu (plugin:setup(fileinfo),&Edit/File &Properties.../#group(@SIGNAL),F7)
    menu (plugin:setup(fileinfo),&Edit/File &Properties.../#icon(document-properties),F7)

menu (ignore(),&View/#group(@SIGNAL),,ID_VIEW)
    menu (nomacro:plugin:setup(goto),&View/&Go to Position.../#group(@SIGNAL),CTRL+G)
    menu (viewstart(),&View/&Begin/#icon(go-first),::MoveToStartOfDocument)
    menu (viewend(),&View/&End/#icon(go-last),::MoveToEndOfDocument)
    menu (viewnext(),&View/&Next Page/#icon(arrow-right-double),::MoveToNextPage)
    menu (viewprev(),&View/&Previous Page/#icon(arrow-left-double),::MoveToPreviousPage)
    menu (scrollright(),&View/Scroll &Right/#icon(arrow-right),::MoveToNextChar)
    menu (scrollleft(),&View/Scroll &Left/#icon(arrow-left),::MoveToPreviousChar)
    menu (ignore(),&View/#separator)
    menu (zoomin(),&View/Zoom &In/#icon(zoomin.xpm),::ZoomIn)
    menu (zoomout(),&View/Zoom &Out/#icon(zoomout.xpm),::ZoomOut)
    menu (zoomselection(),&View/Zoom to &Selection/#icon(zoomrange.xpm),CTRL+SPACE)
    menu (zoomall(),&View/Zoom to Whole Signal/#icon(zoomall.xpm))
    menu (zoomnormal(),&View/Zoom to 100%/#icon(zoomnormal.xpm))

menu (ignore(),&Play/#group(@SIGNAL),,ID_PLAY_MENU)
    menu (playback(start), &Play/&Start/#icon(playback_start.xpm),P,ID_PLAYBACK_START)
    menu (playback(loop), &Play/&Loop/#icon(playback_loop.xpm),,ID_PLAYBACK_LOOP)
    menu (playback(pause), &Play/&Pause/#icon(playback_pause.xpm),SPACE,ID_PLAYBACK_PAUSE)
    menu (playback(continue), &Play/&Continue/#icon(playback_pause2.xpm),SPACE,ID_PLAYBACK_CONTINUE)
    menu (playback(stop), &Play/S&top/#icon(playback_stop.xpm),ESC,ID_PLAYBACK_STOP)

# menu (ignore(),&Labels/#group(@SIGNAL),,ID_LABELS)
# menu (ignore(),&Labels/#disabled)
#    menu (label(),&Labels/&Add/#disabled,A)
#    menu (deletelabel(),&Labels/&Delete/#disabled,D)
#    menu (ignore(),&Labels/#separator)
#
#    menu (ignore(),&Labels/&Generate/#disabled)
#        menu (dialog(amptolabel),&Labels/&Generate/Label by &Intensity/#disabled)
#        menu (dialog(pitch),&Labels/&Generate/Label by &Period/#disabled)
#        menu (loadlabel(),&Labels/&Load Labels.../#disabled)
#        menu (insertlabel(),&Labels/&Insert Labels.../#disabled)
#    menu (ignore(),&Labels/#separator)
#
#    menu (ignore(),&Labels/&Save/#disabled)
#        menu (dialog(savelabel),&Labels/&Save/Labels.../#disabled)
#        menu (saveperiods(),&Labels/&Save/Periods.../#disabled)
#    menu (ignore(),&Labels/#separator)
#
#    menu (labeltopitch(),&Labels/&Convert Label Distance to Pitch/#disabled)
#    menu (ignore(),&Labels/#separator)
#
#    menu (dialog (labeltype),&Labels/Create &type/#disabled)
#    menu (chooselabel(),&Labels/&Choose Type/#listmenu,,ID_LABELS_TYPE)
#    menu (chooselabel(),&Labels/&Choose Type/#number)

menu (ignore(),F&x/#group(@SIGNAL),,ID_FX)
#   menu (dialog (distort),F&x/&Distort/#disabled,SHIFT+D)
    menu (plugin(volume),F&x/&Volume/#icon(player-volume),SHIFT+V)
    menu (plugin:execute(normalize),F&x/&Normalize)
    menu (plugin:execute(amplifyfree, fade in, linear, 0.0, 0.0, 1.0, 1.0),F&x/Fade &In/#group(@SIGNAL),I)
    menu (ignore(),F&x/Fade &In/#icon(fade_in.png))
    menu (ignore(),F&x/Fade &In/#group(@SELECTION))
    menu (plugin:execute(amplifyfree, fade out, linear, 0.0, 1.0, 1.0, 0.0),F&x/Fade &Out/#group(@SIGNAL),O)
    menu (ignore(),F&x/Fade &Out/#icon(fade_out.png))
    menu (ignore(),F&x/Fade &Out/#group(@SELECTION))
    menu (plugin(amplifyfree),F&x/Amplify &Free/#group(@SELECTION))
    menu (ignore(),F&x/Amplify &Free/#icon(amplify_free.png))
#   menu (amplifyclip(),F&x/Amplify with &Clipboard/#disabled)

    # this is the first attempt of primitive macro processing:
    menu (plugin:execute(amplifyfree,fade intro, linear,0,0,1,1);selectprev();selecttoleft();delete();plugin:execute(zero,0,1000);,F&x/Fade Intro/#group(@SIGNAL),SHIFT+CTRL+I)
    menu (plugin:execute(amplifyfree,fade leadout,linear,0,1,1,0);selectnext();selecttoright();delete();selecttoright();selectnext();plugin:execute(zero,0,1000);,F&x/Fade Leadout/#group(@SIGNAL),SHIFT+CTRL+O)

    menu (ignore(),F&x/#separator)
    menu (plugin(lowpass),F&x/&Low Pass/#group(@SIGNAL))
    menu (plugin(notch_filter),F&x/&Notch Filter/#group(@SIGNAL))
    menu (plugin(band_pass),F&x/&Band Pass/#group(@SIGNAL))
#   menu (dialog (movingaverage),F&x/&Filter/&Moving Average/#disabled)
#   menu (dialog (filter),F&x/&Filter/&Create/#disabled)
#   menu (ignore (),F&x/&Filter/&Presets/to be done.../#disabled)
    menu (ignore(),F&x/#separator)
    menu (plugin(pitch_shift),F&x/&Pitch Shift)
#   menu (dialog (delay),F&x/De&lay/#disabled)
    menu (plugin:execute(reverse),F&x/&Reverse/#group(@SIGNAL),SHIFT+CTRL+R)
#   menu (dialog (gap),F&x/&Periodic Silence/#disabled)
    menu (ignore(),F&x/#separator)

#   menu (dialog(rate),F&x/&Change rate/#disabled)
#   menu (dialog(quantize),F&x/Re&quantize/#disabled,SHIFT+R)
#   menu (flip(),F&x/&Flip Phase/#group(@SIGNAL))
#   menu (flip(),F&x/&Flip Phase/#disabled)
#   menu (center(),F&x/&Center Signal/#group(@SIGNAL))
#   menu (center(),F&x/&Center Signal/#disabled)
#   menu (resample(),F&x/&Resample/#group(@SIGNAL),SHIFT+R)
#   menu (resample(),F&x/&Resample/#disabled)

menu (ignore(),&Calculate/#group(@SIGNAL),,ID_CALCULATE)
    menu (plugin(zero),&Calculate/&Silence/#icon(edit-clear))
    menu (plugin(zero),&Calculate/&Silence/#group(@SELECTION))
    menu (plugin(noise),&Calculate/&Noise/#group(@SELECTION))
    menu (ignore(),&Calculate/&Noise/#icon(noise.png))
#   menu (dialog (addsynth),&Calculate/&Additive Synthesis/#disabled)
#   menu (dialog (pulse),&Calculate/&Pulse Train/#disabled)
    menu (ignore(),&Calculate/#separator)

#   menu (dialog(envelope),&Calculate/&Envelope/#disabled)
#   menu (ignore(),&Calculate/#separator)

#   menu (dialog(fft),&Calculate/Spe&ctrum/#disabled,F)
#   menu (dialog(averagefft),&Calculate/&Average spectrum/#disabled,SHIFT+F)
    menu (plugin(sonagram),&Calculate/&Sonagram,S)


#menu (ignore(),&Macro)
#    menu (macro(start),&Macro/&Start recording/#disabled)
#    menu (macro(stop),&Macro/S&top recording/#disabled)
#    menu (dialog(macro),&Macro/&Edit/#disabled)
#    menu (ignore(),&Macro/#separator)
#    menu (macro_play(%1),&Macro/E&xecute/#listmenu,,ID_MACROS)
#    menu (macro_play(%1),&Macro/E&xecute/#disabled,,ID_MACROS)

menu (ignore(),&Options)
    menu (plugin:setup(playback),&Options/&Playback/#icon(speaker))
    menu (plugin:setup(memory),&Options/&Memory/#icon(configure))
#   menu (plugin:setup(clipboard),&Options/&Clipboard)

menu (ignore(),#separator)
menu (help(),&Help/&Contents/#icon(help-contents),::HelpContents)
menu (plugin(about,kwave),&Help/&About Kwave/#icon(kwave))
menu (about_kde(),&Help/About &KDE/#icon(about_kde))

#
# end of file
#
