#
# Kwave menu command file
#

    menu (plugin(newsignal),&File/&New.../#icon(filenew.png),CTRL+N)
    menu (open(),&File/&Open,CTRL+O)
    menu (open(),&File/&Open/#icon(fileopen.png))
    menu (openrecent(%1),&File/Open &Recent/#listmenu,,ID_FILE_OPEN_RECENT)
    menu (openrecent(%1),&File/Open &Recent/#number)
    menu (openrecent(%1),&File/Open &Recent/#icon(goto.png))
    menu (ignore(),&File/#separator)

    menu (save(),&File/&Save/#icon(filesave.png),CTRL+S,ID_FILE_SAVE_CURRENT)
    menu (save(),&File/&Save/#group(@SIGNAL))
    menu (ignore(),&File/S&ave/#group(@SIGNAL),,ID_FILE_SAVE)
        menu (saveas(),&File/S&ave/&As.../#group(@SIGNAL),CTRL+SHIFT+S)
        menu (saveselect(),&File/S&ave/&Selection.../#group(@SIGNAL))
        menu (saveblocks(),&File/S&ave/&Blocks.../#disabled)
#       menu (ignore(),&File/S&ave/#group(@SIGNAL),,ID_FILE_SAVE)
    menu (close(),&File/&Close/#group(@NOT_CLOSED),STD_KEY_FILE_CLOSE,ID_FILE_CLOSE)
    menu (close(),&File/&Close/#icon(fileclose.png))
    menu (ignore(),&File/#separator)

    menu (ignore(),&File/Save resol&ution/#exclusive)
    menu (ignore(),&File/Save resol&ution/#group(@SIGNAL))
        menu (resolution(8),&File/Save resol&ution/&8 Bit/#exclusive(@BITS_PER_SAMPLE),,ID_FILE_SAVE_RESOLUTION_8)
        menu (resolution(16),&File/Save resol&ution/1&6 Bit/#exclusive(@BITS_PER_SAMPLE),,ID_FILE_SAVE_RESOLUTION_16)
        menu (resolution(24),&File/Save resol&ution/2&4 Bit/#exclusive(@BITS_PER_SAMPLE),,ID_FILE_SAVE_RESOLUTION_24)
    menu (ignore(),&File/#separator)

    menu (newwindow(),&File/New &Window/#icon(window_new.png),CTRL+W)
    menu (ignore(),&File/#separator)

    menu (revert(),&File/Revert/#group(@SIGNAL),CTRL+R)
    menu (revert(),&File/Revert/#icon(revert.png))

    menu (ignore(),&File/#separator)

    menu (quit(),&File/&Quit/#icon(exit.png),CTRL+Q)
    menu (ignore(),&File,,ID_FILE)

menu (ignore(),&Edit,,ID_EDIT)
    menu (undo(),&Edit/&Undo/#icon(undo.png),CTRL+Z,ID_EDIT_UNDO)
    menu (undo(),&Edit/&Undo/#disabled)
    menu (redo(),&Edit/&Redo/#icon(redo.png),CTRL+Y,ID_EDIT_REDO)
    menu (redo(),&Edit/&Redo/#disabled)
    menu (ignore(),&Edit/#separator)
    menu (cut(),&Edit/Cu&t/#icon(editcut.png),CTRL+X)
    menu (cut(),&Edit/Cu&t/#group(@SIGNAL,@SELECTION))
    menu (copy(),&Edit/&Copy/#icon(editcopy.png),CTRL+C)
    menu (copy(),&Edit/&Copy/#group(@SIGNAL,@SELECTION))
    menu (paste(),&Edit/&Paste/#icon(editpaste.png),CTRL+V)
    menu (paste(),&Edit/&Paste/#group(@SIGNAL))
    menu (crop(),&Edit/&Crop/#icon(crop.png),SHIFT+CTRL+X)
    menu (crop(),&Edit/&Crop/#group(@SIGNAL,@SELECTION))
    menu (ignore(),&Edit/#separator)

#   menu (dialog(stringenter),&Edit/&Enter Command,CTRL+E)
#   menu (ignore(),&Edit/#separator)

    menu (selectall(),&Edit/&Selection/#group(@SIGNAL))
    menu (selectall(),&Edit/&Selection/&All,CTRL+A)
#   menu (selectrange(),&Edit/&Selection/&Range,R)
    menu (selectvisible(),&Edit/&Selection/&Visible area,V)
#   menu (expandtolabel(),&Edit/&Selection/&Expand to labels/#disabled,E)
    menu (selectnext(),&Edit/&Selection/&Next,SHIFT+PLUS)
    menu (selectprev(),&Edit/&Selection/&Previous,SHIFT+MINUS)
    menu (selectnone(),&Edit/&Selection/&Nothing,N)
    menu (selecttoleft(),&Edit/&Selection/&to start,SHIFT+HOME)
    menu (selecttoright(),&Edit/&Selection/&to end,SHIFT+END)
    menu (ignore(),&Edit/#separator)

    menu (add_track(),&Edit/&Track/&Add/#group(@NOT_CLOSED),SHIFT+A)
    menu (delete_track(%1),&Edit/&Track/&Delete/#listmenu,,ID_EDIT_TRACK_DELETE)
    menu (ignore(),&Edit/&Track/&Delete/#group(@SIGNAL))
#   menu (dialog(mix),&Edit/&Track/&Mix/#group(@SIGNAL),SHIFT+M)
#   menu (ignore,&Edit/&Track/&Mix/#disabled,SHIFT+M)
#   menu (select_all_tracks(),&Edit/&Track/&Select all/#group(@SIGNAL),SHIFT+CTRL+A)
#   menu (invert_track_selection(),&Edit/&Track/&Invert Selection/#group(@SIGNAL),SHIFT+I)

    menu (ignore(),&Edit/#separator)
    menu (ignore(),&Edit/Clip&board/#disabled)
        menu (clipboard_flush(),&Edit/Clip&board/&Flush,)
        menu (clipboard_tonew(),&Edit/Clip&board/&to new Window/#disabled,)
    menu (ignore(),&Edit/#separator)

#   menu (mixpaste(),&Edit/&Mix & Paste/#disabled,CTRL+SHIFT+X)
#   menu (trim(),&Edit/Tri&m/#disabled,CTRL+T)
    menu (delete(),&Edit/&Delete/#icon(delete.xpm),DEL)
    menu (delete(),&Edit/&Delete/#group(@SIGNAL,@SELECTION),DEL)

menu (ignore(),&View/#group(@SIGNAL),,ID_VIEW)
    menu (viewstart(),&View/&Start/#icon(start.png),HOME)
    menu (viewend(),&View/&End/#icon(finish.png),END)
    menu (viewnext(),&View/&Next Page/#icon(forward.png),PAGEUP)
    menu (viewprev(),&View/&Previous Page/#icon(back.png),PAGEDOWN)
    menu (scrollright(),&View/Scroll &right/#icon(1rightarrow.png),RIGHT)
    menu (scrollleft(),&View/Scroll &left/#icon(1leftarrow.png),LEFT)
    menu (ignore(),&View/#separator)
    menu (zoomin(),&View/Zoom &In/#icon(viewmag+.png),CTRL+PLUS)
    menu (zoomout(),&View/Zoom &Out/#icon(viewmag-.png),CTRL+MINUS)
    menu (zoomselection(),&View/Zoom to &Selection,CTRL+SPACE)

menu (ignore(),&Play/#group(@SIGNAL),,ID_PLAY_MENU)
    menu (playback(start), &Play/&Start/#icon(playback_start.xpm),P,ID_PLAYBACK_START)
    menu (playback(loop), &Play/&Loop/#icon(playback_loop.xpm),,ID_PLAYBACK_LOOP)
    menu (playback(pause), &Play/&Pause/#icon(playback_pause.xpm),SPACE,ID_PLAYBACK_PAUSE)
    menu (playback(continue), &Play/&Continue/#icon(playback_pause2.xpm),SPACE,ID_PLAYBACK_CONTINUE)
    menu (playback(stop), &Play/S&top/#icon(playback_stop.xpm),ESC,ID_PLAYBACK_STOP)

# menu (ignore(),&Labels/#group(@SIGNAL),,ID_LABELS)
# menu (ignore(),&Labels/#disabled)
#    menu (label(),&Labels/&Add/#disabled,A)
#    menu (deletelabel(),&Labels/&Delete/#disabled,D)
#    menu (ignore(),&Labels/#separator)
#
#    menu (ignore(),&Labels/&Generate/#disabled)
#        menu (dialog(amptolabel),&Labels/&Generate/Label by &Intensity/#disabled)
#        menu (dialog(pitch),&Labels/&Generate/Label by &Period/#disabled)
#        menu (loadlabel(),&Labels/&Load labels.../#disabled)
#        menu (insertlabel(),&Labels/&Insert labels.../#disabled)
#    menu (ignore(),&Labels/#separator)
#
#    menu (ignore(),&Labels/&Save/#disabled)
#        menu (dialog(savelabel),&Labels/&Save/Labels.../#disabled)
#        menu (saveperiods(),&Labels/&Save/Periods.../#disabled)
#    menu (ignore(),&Labels/#separator)
#
#    menu (labeltopitch(),&Labels/&Convert label distance to pitch/#disabled)
#    menu (ignore(),&Labels/#separator)
#
#    menu (dialog (labeltype),&Labels/Create &type/#disabled)
#    menu (chooselabel(),&Labels/&Choose type/#listmenu,,ID_LABELS_TYPE)
#    menu (chooselabel(),&Labels/&Choose type/#number)

menu (ignore(),F&x/#group(@SIGNAL),,ID_FX)
    menu (ignore(),F&x/&Amplify)
#       menu (dialog (distort),F&x/&Amplify/&Distort/#disabled,SHIFT+D)
        menu (plugin:execute(amplifyfree, linear, 0.0, 0.0, 1.0, 1.0),F&x/&Amplify/Fade &In/#group(@SIGNAL),I)
        menu (ignore(),F&x/&Amplify/Fade &In/#icon(fade_in.png))
        menu (plugin:execute(amplifyfree, linear, 0.0, 1.0, 1.0, 0.0),F&x/&Amplify/Fade &Out/#group(@SIGNAL),O)
        menu (ignore(),F&x/&Amplify/Fade &Out/#icon(fade_out.png))
        menu (plugin(amplifyfree),F&x/&Amplify/&Free/#group(@SELECTION))
        menu (ignore(),F&x/&Amplify/&Free/#icon(amplify_free.png))
#       menu (amplifytomax(),F&x/&Amplify/to &Maximum/#disabled,M)
#       menu (amplifyclip(),F&x/&Amplify/with &Clipboard/#disabled)
    menu (ignore(),F&x/#separator)

#    menu (ignore(),F&x/&Filter)
#        menu (dialog (movingaverage),F&x/&Filter/&Moving Average/#disabled)
#        menu (dialog (filter),F&x/&Filter/&Create/#disabled)
#        menu (ignore (),F&x/&Filter/&Presets/to be done.../#disabled)
    menu (ignore(),F&x/#separator)
    menu (dialog (delay),F&x/De&lay/#disabled)
    menu (reverse (),F&x/&Reverse/#disabled)
    menu (dialog (gap),F&x/&Periodic Silence/#disabled)
    menu (ignore(),F&x/#separator)

#   menu (dialog(rate),F&x/&Change rate/#disabled)
#   menu (dialog(quantize),F&x/Re&quantize/#disabled,SHIFT+R)
#   menu (flip(),F&x/&Flip Phase/#group(@SIGNAL))
#   menu (flip(),F&x/&Flip Phase/#disabled)
#   menu (center(),F&x/&Center Signal/#group(@SIGNAL))
#   menu (center(),F&x/&Center Signal/#disabled)
#   menu (resample(),F&x/&Resample/#group(@SIGNAL),SHIFT+R)
#   menu (resample(),F&x/&Resample/#disabled)

menu (ignore(),&Calculate/#group(@SIGNAL),,ID_CALCULATE)
    menu (plugin(zero),&Calculate/&Silence/#icon(eraser.xpm))
    menu (plugin(zero),&Calculate/&Silence/#group(@SELECTION))
    menu (plugin(noise),&Calculate/&Noise/#group(@SELECTION))
    menu (ignore(),&Calculate/&Noise/#icon(noise.png))
    menu (dialog (addsynth),&Calculate/&Additive Synthesis/#disabled)
    menu (dialog (pulse),&Calculate/&Pulse Train/#disabled)
    menu (ignore(),&Calculate/#separator)

    menu (dialog(envelope),&Calculate/&Envelope/#disabled)
    menu (ignore(),&Calculate/#separator)

    menu (ignore(),&Calculate/&Frequencies)
 	menu (dialog(fft),&Calculate/&Frequencies/Spe&ctrum/#disabled,F)
        menu (dialog(averagefft),&Calculate/&Frequencies/&Average spectrum/#disabled,SHIFT_F)
        menu (plugin(sonagram),&Calculate/&Frequencies/&Sonagram,S)
        menu (ignore(),&Calculate/&Frequencies)

#menu (ignore(),&Macro)
#    menu (macro(start),&Macro/&Start recording/#disabled)
#    menu (macro(stop),&Macro/S&top recording/#disabled)
#    menu (dialog(macro),&Macro/&Edit/#disabled)
#    menu (ignore(),&Macro/#separator)
#    menu (macro_play(%1),&Macro/E&xecute/#listmenu,,ID_MACROS)
#    menu (macro_play(%1),&Macro/E&xecute/#disabled,,ID_MACROS)

menu (ignore(),&Options)
    menu (plugin:setup(playback),&Options/&Playback/#icon(player_start.png))
    menu (plugin:setup(memory),&Options/&Memory/#icon(configure.png))
#   menu (plugin:setup(clipboard),&Options/&Clipboard)
#   menu (plugin:setup(undoredo),&Options/&Undo and Redo)

menu (ignore(),#separator)
menu (help(),&Help/&Contents/#icon(contents.png),F1)
menu (plugin(about,kwave),&Help/&About Kwave/#icon(kwave.png))
menu (plugin(about,kde),&Help/About &KDE/#icon(go.png))

#
# end of file
#
