############################################################################
#        menus.config  -  Kwave menu command file
#                            -------------------
#   begin                : Sat Feb 3 2001
#   copyright            : (C) 2001 by Thomas Eschenbacher
#   email                : Thomas.Eschenbacher@gmx.de
############################################################################
#
############################################################################
#                                                                          #
#    This program is free software; you can redistribute it and/or modify  #
#    it under the terms of the GNU General Public License as published by  #
#    the Free Software Foundation; either version 2 of the License, or     #
#    (at your option) any later version.                                   #
#                                                                          #
############################################################################

    menu (plugin(newsignal),File/New.../#icon(document-new),::New)
    menu (open(),File/Open,CTRL+::Open)
    menu (open(),File/Open/#icon(document-open))
    menu (openrecent(%1),File/Open Recent/#listmenu,,ID_FILE_OPEN_RECENT)
    menu (openrecent(%1),File/Open Recent/#number)
    menu (openrecent(%1),File/Open Recent/#icon(document-open-recent))

    menu (ignore(),File/#separator)
    menu (plugin:setup(record),File/Record/#icon(media-record),F2,ID_RECORD)

    menu (ignore(),File/#separator)

    menu (save(),File/&Save/#icon(document-save),::Save,ID_FILE_SAVE_CURRENT)
    menu (save(),File/&Save/#group(@SIGNAL))
    menu (ignore(),File/Save/#group(@SIGNAL),,ID_FILE_SAVE)
        menu (saveas(),File/Save/As.../#icon(document-save-as),SHIFT+::Save)
        menu (saveas(),File/Save/As.../#group(@SIGNAL),SHIFT+::Save)
        menu (saveselect(),File/Save/Selection.../#group(@SELECTION))
        menu (plugin:setup(saveblocks),File/Save/Blocks.../#group(@LABELS))
        menu (plugin:setup(saveblocks),File/Save/Blocks.../#icon(document-save-all))
    menu (close(),File/Close/#group(@NOT_CLOSED),::Close,ID_FILE_CLOSE)
    menu (close(),File/Close/#icon(document-close))
    menu (ignore(),File/#separator)

    menu (newwindow(),File/New Window/#icon(window-new),SHIFT+CTRL+W)
    menu (ignore(),File/#separator)

    menu (revert(),File/Revert/#icon(document-revert),CTRL+R,ID_FILE_REVERT)

    menu (ignore(),File/#separator)

    menu (quit(),File/Quit/#icon(application-exit),CTRL+Q)
    menu (ignore(),File,,ID_FILE)

menu (ignore(),Edit/#group(@NOT_CLOSED),,ID_EDIT)
    menu (undo(),Edit/Undo/#icon(edit-undo),::Undo,ID_EDIT_UNDO)
    menu (undo(),Edit/Undo/#disabled)
    menu (redo(),Edit/Redo/#icon(edit-redo),::Redo,ID_EDIT_REDO)
    menu (redo(),Edit/Redo/#disabled)
    menu (ignore(),Edit/#separator)
    menu (cut(),Edit/Cut/#icon(edit-cut),::Cut)
    menu (cut(),Edit/Cut/#group(@SIGNAL,@SELECTION))
    menu (copy(),Edit/Copy/#icon(edit-copy),::Copy)
    menu (copy(),Edit/Copy/#group(@SIGNAL,@SELECTION))
    menu (paste(),Edit/Paste/#icon(edit-paste),::Paste)
    menu (paste(),Edit/Paste/#group(@SIGNAL,@CLIPBOARD))
    menu (crop(),Edit/Crop/#icon(crop),SHIFT+::Cut)
    menu (crop(),Edit/Crop/#group(@SIGNAL,@SELECTION))
    menu (delete(),Edit/Delete/#icon(edit-delete),::Delete)
    menu (delete(),Edit/Delete/#group(@SIGNAL,@SELECTION))
    menu (ignore(),Edit/#separator)

#   menu (dialog(stringenter),Edit/Enter Command,CTRL+E)
#   menu (ignore(),Edit/#separator)

    menu (selectall(),Edit/Selection/#group(@SIGNAL))
    menu (selectall(),Edit/Selection/All,::SelectAll)
    menu (plugin:setup(selectrange),Edit/Selection/Range,R)
    menu (selectvisible(),Edit/Selection/Visible Area,V)
    menu (selectnext(),Edit/Selection/Next,SHIFT++)
    menu (selectprev(),Edit/Selection/Previous,SHIFT+-)
    menu (selectnone(),Edit/Selection/Nothing,N)
    menu (selecttoleft(),Edit/Selection/To Start,::SelectStartOfLine)
    menu (selecttoright(),Edit/Selection/To End,::SelectEndOfLine)
    menu (expandtolabel(),Edit/Selection/Expand to Labels/#group(@LABELS),E)
    menu (selectnextlabels(),Edit/Selection/To Next Labels/#group(@LABELS),SHIFT+CTRL+N)
    menu (selectprevlabels(),Edit/Selection/To Previous Labels/#group(@LABELS),SHIFT+CTRL+P)
    menu (ignore(),Edit/#separator)

    menu (add_track(),Edit/Track/Add/#group(@NOT_CLOSED),SHIFT+A)
    menu (add_track(),Edit/Track/Add/#icon(list-add))
    menu (delete_track(%1),Edit/Track/Delete/#listmenu,,ID_EDIT_TRACK_DELETE)
    menu (delete_track(%1),Edit/Track/Delete/#icon(list-remove))
    menu (ignore(),Edit/Track/Delete/#group(@SIGNAL))
#   menu (dialog(mix),Edit/Track/Mix/#group(@SIGNAL),SHIFT+M)
#   menu (ignore,Edit/Track/Mix/#disabled,SHIFT+M)
    menu (select_track:all(),Edit/Track/Select all/#group(@SIGNAL),SHIFT+::SelectAll)
    menu (select_track:invert(),Edit/Track/Invert Selection/#group(@SIGNAL),SHIFT+I)

    menu (ignore(),Edit/#separator)
    menu (ignore(),Edit/Clipboard/#group(@SIGNAL,@CLIPBOARD))
        menu (clipboard_flush(),Edit/Clipboard/Flush/#group(@SIGNAL,@CLIPBOARD))
        menu (clipboard_flush(),Edit/Clipboard/Flush/#icon(edit-clear),)
#       menu (clipboard_tonew(),Edit/Clipboard/To New Window/#disabled,)
        menu (nomacro:plugin:setup(insert_at),Edit/Clipboard/Insert At.../#group(@SIGNAL,@CLIPBOARD))

#   menu (ignore(),Edit/#separator)
#   menu (mixpaste(),Edit/Mix  Paste/#disabled,SHIFT+::Copy)
#   menu (trim(),Edit/Trim/#disabled,CTRL+T)

    menu (ignore(),Edit/#separator)
    menu (plugin:setup(fileinfo),Edit/File Properties.../#group(@SIGNAL),F7)
    menu (plugin:setup(fileinfo),Edit/File Properties.../#icon(document-properties),F7)

menu (ignore(),View/#group(@SIGNAL),,ID_VIEW)
    menu (nomacro:plugin:setup(goto),View/Go to Position.../#group(@SIGNAL),CTRL+G)
    menu (view:scroll_start(),View/Begin/#icon(go-first),::MoveToStartOfDocument,ID_SCROLL_START)
    menu (view:scroll_end(),View/End/#icon(go-last),::MoveToEndOfDocument,ID_SCROLL_END)
    menu (view:scroll_prev(),View/Previous Page/#icon(kwave_player_start),::MoveToPreviousPage,ID_SCROLL_PREV)
    menu (view:scroll_next(),View/Next Page/#icon(kwave_player_end),::MoveToNextPage,ID_SCROLL_NEXT)
    menu (view:scroll_right(),View/Scroll Right/#icon(kwave_player_fwd),::MoveToNextChar,ID_SCROLL_RIGHT)
    menu (view:scroll_left(),View/Scroll Left/#icon(kwave_player_rew),::MoveToPreviousChar,ID_SCROLL_LEFT)
    menu (ignore(),View/#separator)
    menu (view:zoom_in(),View/Zoom In/#icon(kwave_zoom_in),::ZoomIn)
    menu (view:zoom_out(),View/Zoom Out/#icon(kwave_zoom_out),::ZoomOut)
    menu (view:zoom_selection(),View/Zoom to Selection/#icon(kwave_viewmag),CTRL+SPACE)
    menu (view:zoom_selection(),View/Zoom to Selection/#group(@SELECTION))
    menu (view:zoom_all(),View/Zoom to Whole Signal/#icon(kwave_viewmagfit))
    menu (view:zoom_normal(),View/Zoom to 100%/#icon(kwave_zoom_original))

menu (ignore(),Play/#group(@SIGNAL),,ID_PLAY_MENU)
    menu (playback(prev),Play/Previous/#icon(kwave_player_start),::MoveToPreviousPage,ID_PLAYBACK_PREV)
    menu (playback(rewind),Play/Rewind/#icon(kwave_player_rew),::MoveToPreviousChar,ID_PLAYBACK_REWIND)
    menu (playback(start),Play/Start/#icon(kwave_player_play),P,ID_PLAYBACK_START)
    menu (playback(loop),Play/Loop/#icon(kwave_player_loop),,ID_PLAYBACK_LOOP)
    menu (playback(pause),Play/Pause/#icon(kwave_player_pause),SPACE,ID_PLAYBACK_PAUSE)
    menu (playback(continue),Play/Continue/#icon(kwave_player_pause_2),SPACE,ID_PLAYBACK_CONTINUE)
    menu (playback(stop),Play/Stop/#icon(kwave_player_stop),ESC,ID_PLAYBACK_STOP)
    menu (playback(forward),Play/Forward/#icon(kwave_player_fwd),::MoveToNextChar,ID_PLAYBACK_FORWARD)
    menu (playback(next),Play/Next/#icon(kwave_player_end),::MoveToNextPage,ID_PLAYBACK_NEXT)

# menu (ignore(),Labels/#group(@SIGNAL),,ID_LABELS)
# menu (ignore(),Labels/#disabled)
#    menu (label(),Labels/Add/#disabled,A)
#    menu (deletelabel(),Labels/Delete/#disabled,D)
#    menu (ignore(),Labels/#separator)
#
#    menu (ignore(),Labels/Generate/#disabled)
#        menu (dialog(amptolabel),Labels/Generate/Label by Intensity/#disabled)
#        menu (dialog(pitch),Labels/Generate/Label by Period/#disabled)
#        menu (loadlabel(),Labels/Load Labels.../#disabled)
#        menu (insertlabel(),Labels/Insert Labels.../#disabled)
#    menu (ignore(),Labels/#separator)
#
#    menu (ignore(),Labels/Save/#disabled)
#        menu (dialog(savelabel),Labels/Save/Labels.../#disabled)
#        menu (saveperiods(),Labels/Save/Periods.../#disabled)
#    menu (ignore(),Labels/#separator)
#
#    menu (labeltopitch(),Labels/Convert Label Distance to Pitch/#disabled)
#    menu (ignore(),Labels/#separator)
#
#    menu (dialog (labeltype),Labels/Create type/#disabled)
#    menu (chooselabel(),Labels/Choose Type/#listmenu,,ID_LABELS_TYPE)
#    menu (chooselabel(),Labels/Choose Type/#number)

menu (ignore(),Fx/#group(@SIGNAL),,ID_FX)
#   menu (dialog (distort),Fx/Distort/#disabled,SHIFT+D)
    menu (plugin(volume),Fx/Volume/#icon(player-volume),SHIFT+V)
    menu (plugin:execute(normalize),Fx/Normalize)
    menu (plugin:execute(amplifyfree, fade in, linear, 0.0, 0.0, 1.0, 1.0),Fx/Fade In/#group(@SIGNAL),I)
    menu (ignore(),Fx/Fade In/#icon(fade_in.png))
    menu (ignore(),Fx/Fade In/#group(@SELECTION))
    menu (plugin:execute(amplifyfree, fade out, linear, 0.0, 1.0, 1.0, 0.0),Fx/Fade Out/#group(@SIGNAL),O)
    menu (ignore(),Fx/Fade Out/#icon(fade_out.png))
    menu (ignore(),Fx/Fade Out/#group(@SELECTION))
    menu (plugin(amplifyfree),Fx/Amplify Free/#group(@SELECTION))
    menu (ignore(),Fx/Amplify Free/#icon(amplify_free.png))
#   menu (amplifyclip(),Fx/Amplify with Clipboard/#disabled)

    # this is the first attempt of primitive macro processing:
    menu (plugin:execute(amplifyfree,fade intro, linear,0,0,1,1);selectprev();selecttoleft();delete();plugin:execute(zero,0,1000);,Fx/Fade Intro/#group(@SIGNAL),SHIFT+CTRL+I)
    menu (plugin:execute(amplifyfree,fade leadout,linear,0,1,1,0);selectnext();selecttoright();delete();selecttoright();selectnext();plugin:execute(zero,0,1000);,Fx/Fade Leadout/#group(@SIGNAL),SHIFT+CTRL+O)

    menu (ignore(),Fx/#separator)
    menu (plugin(lowpass),Fx/Low Pass/#group(@SIGNAL))
    menu (plugin(notch_filter),Fx/Notch Filter/#group(@SIGNAL))
    menu (plugin(band_pass),Fx/Band Pass/#group(@SIGNAL))
#   menu (dialog (movingaverage),Fx/Filter/Moving Average/#disabled)
#   menu (dialog (filter),Fx/Filter/Create/#disabled)
#   menu (ignore (),Fx/Filter/Presets/to be done.../#disabled)
    menu (ignore(),Fx/#separator)
    menu (plugin(pitch_shift),Fx/Pitch Shift)
#   menu (dialog (delay),Fx/Delay/#disabled)
    menu (plugin:execute(reverse),Fx/Reverse/#group(@SIGNAL),SHIFT+CTRL+R)
    menu (plugin:execute(reverse),Fx/Reverse/#icon(object-flip-horizontal),SHIFT+CTRL+R)
#   menu (dialog (gap),Fx/Periodic Silence/#disabled)
    menu (ignore(),Fx/#separator)

#   menu (dialog(rate),Fx/Change rate/#disabled)
#   menu (dialog(quantize),Fx/Requantize/#disabled,SHIFT+R)
#   menu (flip(),Fx/Flip Phase/#group(@SIGNAL))
#   menu (flip(),Fx/Flip Phase/#disabled)
#   menu (center(),Fx/Center Signal/#group(@SIGNAL))
#   menu (center(),Fx/Center Signal/#disabled)
#   menu (resample(),Fx/Resample/#group(@SIGNAL),SHIFT+R)
#   menu (resample(),Fx/Resample/#disabled)

menu (ignore(),Calculate/#group(@SIGNAL),,ID_CALCULATE)
    menu (plugin(zero),Calculate/Silence/#icon(edit-clear))
    menu (plugin(zero),Calculate/Silence/#group(@SELECTION))
    menu (plugin(noise),Calculate/Noise)
    menu (ignore(),Calculate/Noise/#icon(noise.png))
#   menu (dialog (addsynth),Calculate/Additive Synthesis/#disabled)
#   menu (dialog (pulse),Calculate/Pulse Train/#disabled)
    menu (ignore(),Calculate/#separator)

#   menu (dialog(envelope),Calculate/Envelope/#disabled)
#   menu (ignore(),Calculate/#separator)

#   menu (dialog(fft),Calculate/Spectrum/#disabled,F)
#   menu (dialog(averagefft),Calculate/Average spectrum/#disabled,SHIFT+F)
    menu (plugin(sonagram),Calculate/Sonagram,S)

#menu (ignore(),Macro)
#    menu (macro(start),Macro/Start recording/#disabled)
#    menu (macro(stop),Macro/Stop recording/#disabled)
#    menu (dialog(macro),Macro/Edit/#disabled)
#    menu (ignore(),Macro/#separator)
#    menu (macro_play(%1),Macro/Execute/#listmenu,,ID_MACROS)
#    menu (macro_play(%1),Macro/Execute/#disabled,,ID_MACROS)

menu (ignore(),Settings)
    menu (select_gui_type(SDI),Settings/Open Files in.../Separate Window (SDI)/#exclusive(@GUI_TYPE),,ID_GUI_SDI)
    menu (select_gui_type(MDI),Settings/Open Files in.../Same Window (MDI)/#exclusive(@GUI_TYPE),,ID_GUI_MDI)
    menu (select_gui_type(TAB),Settings/Open Files in.../New Tab/#exclusive(@GUI_TYPE),,ID_GUI_TAB)

    menu (plugin:setup(playback),Settings/Playback/#icon(speaker))
    menu (plugin:setup(memory),Settings/Memory/#icon(configure))
    menu (reset_toolbars(),Settings/Reset Toolbar/#icon(configure-toolbars))
    menu (reenable_dna(),Settings/Re-enable all "Do not ask again" messages)

menu (ignore(),#separator)
menu (help(),Help/Contents/#icon(help-contents),::HelpContents)
menu (plugin(about,kwave),Help/About Kwave/#icon(kwave))
menu (about_kde(),Help/About KDE/#icon(kde))

#
# end of file
#
