[Desktop Entry]
Type=MimeType
Comment=AIFF/Compressed Amiga audio
Comment[de]=AIFF/Komprimiertes Amiga-Audio
Comment[fr]=AIFF/Fichier audio compressé au format Amiga
MimeType=audio/x-aifc
Icon=sound
Patterns=*.aifc;*.AIFC
