[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kwave/Plugin
Comment=Kwave Plugin
Comment[ca]=Connector del Kwave
Comment[ca@valencia]=Connector del Kwave
Comment[cs]=Modul KWave
Comment[da]=Kwave-plugin
Comment[de]=Kwave-Modul
Comment[el]=Πρόσθετο του Kwave
Comment[en_GB]=Kwave Plugin
Comment[es]=Complemento de Kwave
Comment[et]=Kwave'i plugin
Comment[fi]=Kwave-liitännäinen
Comment[fr]=Module externe KWave
Comment[gl]=Complemento de Kwave
Comment[it]=Estensione Kwave
Comment[ko]=Kwave 플러그인
Comment[nl]=Kwave-plug-in
Comment[pl]=Wtyczka Kwave
Comment[pt]='Plugin' do Kwave
Comment[pt_BR]=Plugin do Kwave
Comment[sk]=Kwave plugin
Comment[sv]=Kwave-insticksmodul
Comment[tr]=Kwave Eklentisi
Comment[uk]=Додаток до Kwave
Comment[x-test]=xxKwave Pluginxx
Comment[zh_CN]=Kwave 插件
