[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kwave/Plugin
Comment=Kwave Plugin
Comment[de]=Kwave-Modul
Comment[es]=Complemento de Kwave
Comment[nl]=Kwave-plug-in
Comment[pt]='Plugin' do Kwave
Comment[pt_BR]=Plugin do Kwave
Comment[uk]=Додаток до Kwave
Comment[x-test]=xxKwave Pluginxx
