menu (dialog(newsignal),&File/&New...,CTRL+N)
menu (newwindow(),&File/&New &Window,CTRL+W)
  menu (ignore(),&File/separator)
menu (open(),&File/&Open,CTRL+O)#
menu (openrecent(),&File/&Open Recent/listmenu(recentfiles),,ID_FILE_OPEN_RECENT)
menu (openrecent(),&File/&Open Recent/number)
menu (importascii(),&File/&Import Ascii,CTRL+I)
 menu (ignore(),&File/separator)
  menu (save(),&File/S&ave,CTRL+S,ID_FILE_SAVE_CURRENT)
  menu (saveas(),&File/&Save/&As ...,CTRL+SHIFT+S)
  menu (saveselect(),&File/&Save/&Selection ...)
  menu (saveblocks(),&File/&Save/&Blocks ...)
  menu (saveascii(),&File/&Save/&Export to Ascii ...,CTRL+E)
  menu (ignore(),&File/&Save,,ID_FILE_SAVE)
 menu (ignore(),&File/separator)
  menu (ignore(),&File/Save &resolution/exclusive)
menu (resolution(8),&File/Save &resolution/&8 Bit,,ID_FILE_SAVE_RESOLUTION_8)
menu (resolution(16),&File/Save &resolution/1&6 Bit,,ID_FILE_SAVE_RESOLUTION_16)
menu (resolution(24),&File/Save &resolution/2&4 Bit,,ID_FILE_SAVE_RESOLUTION_24)
 menu (ignore(),&File/separator)
menu (revert(),&File/&Revert,CTRL+R,ID_FILE_REVERT)
 menu (ignore(),&File/separator)
menu (quit(),&File/&Quit,CTRL+Q)
menu (ignore(),&File,,ID_FILE)

menu (ignore(),&Edit,,ID_EDIT)
menu (cut(),&Edit/Cu&t,CTRL+X)
menu (copy(),&Edit/&Copy,CTRL+C)
menu (paste(),&Edit/&Paste,CTRL+V)
menu (crop(),&Edit/&Crop)
menu (ignore(),&Edit/separator)
menu (dialog(stringenter),&Edit/&Enter Command,CTRL+E)
menu (ignore(),&Edit/separator)
menu (selectall(),&Edit/&Selection/&All,CTRL+A)
menu (selectrange(),&Edit/&Selection/&Range,R)
menu (selectvisible(),&Edit/&Selection/&Visible area,V)
menu (expandtolabel(),&Edit/&Selection/&Expand to labels,E)
menu (selectnext(),&Edit/&Selection/&Next,SHIFT+PLUS)
menu (selectprev(),&Edit/&Selection/&Previous,SHIFT+MINUS)
menu (selectnone(),&Edit/&Selection/&Nothing,N)
menu (ignore(),&Edit/separator)
menu (addchannel(),&Edit/C&hannel/&Add,SHIFT+A)
menu (deletechannel(),&Edit/C&hannel/&Delete/listmenu(Channels))
menu (deletechannel(),&Edit/C&hannel/&Delete/number)
menu (dialog(mix),&Edit/C&hannel/&Mix,SHIFT+M)
menu (selectchannels(),&Edit/C&hannel/&Select all,SHIFT+CTRL+A)
menu (invertchannels(),&Edit/C&hannel/&Invert Selection,SHIFT+I)
menu (ignore(),&Edit/separator)
menu (flushclipboard(),&Edit/&Clipboard/&Flush)
menu (clipboardtonew(),&Edit/&Clipboard/&to new Window)
menu (ignore(),&Edit/separator)
menu (mixpaste(),&Edit/&Mix & Paste,CTRL+SHIFT+X)
menu (trim(),&Edit/Tri&m,CTRL+T)
menu (delete(),&Edit/&Delete,DEL)
menu (ignore(),&Edit/separator)
menu (flip(),&Edit/&Flip Phase)
menu (center(),&Edit/&Center Signal)
menu (resample(),&Edit/&Resample,SHIFT+R)

menu (ignore(),&View,,ID_VIEW)
menu (viewnext(),&View/&Next Page,PAGEDOWN)
menu (viewprev(),&View/&Previous Page,PAGEUP)
menu (scrollright(),&View/&Previous Page,RIGHT)
menu (scrollleft(),&View/&Previous Page,LEFT)
menu (ignore(),&View/separator)
menu (zoomin(),&View/Zoom &In,CTRL+PLUS)
menu (zoomout(),&View/Zoom &Out,CTRL+MINUS)
menu (zoomselect(),&View/Zoom to &Selection,CTRL+SPACE)

menu (ignore(),&Labels,,ID_LABELS)
menu (label(),&Labels/&Add,A)
menu (deletelabel(),&Labels/&Delete,D)
menu (ignore(),&Labels/separator)
menu (dialog(amptolabel),&Labels/&Generate/Label by &Intensity)
menu (dialog(pitch),&Labels/&Generate/Label by &Period)
menu (loadlabel(),&Labels/&Load labels ...)
menu (insertlabel(),&Labels/&Insert labels ...)
menu (ignore(),&Labels/separator)
menu (dialog(savelabel),&Labels/&Save/Labels ...)
menu (saveperiods(),&Labels/&Save/Periods ...)
menu (ignore(),&Labels/separator)
menu (labeltopitch(),&Labels/&Convert label distance to pitch)
menu (ignore(),&Labels/separator)
menu (dialog (labeltype),&Labels/Create &type)
menu (chooselabel(),&Labels/&Choose type/listmenu(labeltypes))
menu (chooselabel(),&Labels/&Choose type/number)

menu (ignore(),F&x,,ID_FX)
menu (dialog (distort),F&x/&Amplify/&Distort,SHIFT+D)
menu (dialog (fadein),F&x/&Amplify/Fade &In,I)
menu (dialog (fadeout),F&x/&Amplify/Fade &Out,O)
menu (dialog (amplifyfree),F&x/&Amplify/&Free)
menu (amplifytomax(),F&x/&Amplify/to &Maximum,M)
menu (amplifyclip(),F&x/&Amplify/with &Clipboard)
menu (ignore(),F&x/separator)
menu (dialog (movingaverage),F&x/&Filter/&Moving Average)
menu (dialog (filter),F&x/&Filter/&Create)
menu (ignore (),F&x/&Filter/&Presets/to be done...)
menu (ignore(),F&x/separator)
menu (dialog (delay),F&x/De&lay)
menu (reverse (),F&x/&Reverse)
menu (dialog (gap),F&x/&Periodic Silence)
menu (ignore(),F&x/separator)
menu (dialog(rate),F&x/&Change rate)
menu (dialog(quantize),F&x/Re&quantize)

menu (ignore(),&Calculate,,ID_CALCULATE)
menu (zero (),&Calculate/&Silence)
menu (noise (),&Calculate/&Noise)
menu (dialog (addsynth),&Calculate/&Additive Synthesis)
menu (dialog (pulse),&Calculate/&Pulse Train)
menu (ignore(),&Calculate/separator)
menu (dialog(envelope),&Calculate/&Envelope)
menu (ignore(),&Calculate/separator)
menu (dialog(fft),&Calculate/&Frequencies/Spe&ctrum,F)
menu (dialog(averagefft),&Calculate/&Frequencies/&Average spectrum,SHIFT_F)
menu (dialog(sonagram),&Calculate/&Frequencies/&Sonagram,S)

menu (dialog (playback),&Options/&Playback)
menu (dialog (memory),&Options/&Memory)
menu (dialog (menu),&Options/&Menus)

menu (help(),Help/&Contents,F1)
menu (dialog(about),Help/&About)
