menu (dialog(newsignal),&File/&New.../#icon(filenew.xpm),CTRL+N)
    menu (open(),&File/&Open,CTRL+O)
    menu (open(),&File/&Open/#icon(fileopen.xpm))
    menu (openrecent(%s),&File/&Open Recent/#listmenu,,ID_FILE_OPEN_RECENT)
    menu (openrecent(%s),&File/&Open Recent/#number)
    menu (ignore(),&File/#separator)

    menu (save(),&File/S&ave/#icon(filesave.xpm),CTRL+S,ID_FILE_SAVE_CURRENT)
    menu (save(),&File/S&ave/#group(@SIGNAL))
    menu (saveas(),&File/&Save/#group(@SIGNAL))
        menu (saveas(),&File/&Save/&As...,CTRL+SHIFT+S)
        menu (saveselect(),&File/&Save/&Selection...)
        menu (saveblocks(),&File/&Save/&Blocks...)
        menu (ignore(),&File/&Save/#group(@SIGNAL),,ID_FILE_SAVE)
    menu (close(),&File/&Close/#group(@SIGNAL),STD_KEY_FILE_CLOSE,ID_FILE_CLOSE)
    menu (ignore(),&File/#separator)

    menu (ignore(),&File/Save &resolution/#exclusive)
    menu (ignore(),&File/Save &resolution/#group(@SIGNAL))
        menu (resolution(8),&File/Save &resolution/&8 Bit/#exclusive(@BITS_PER_SAMPLE),,ID_FILE_SAVE_RESOLUTION_8)
        menu (resolution(16),&File/Save &resolution/1&6 Bit/#exclusive(@BITS_PER_SAMPLE),,ID_FILE_SAVE_RESOLUTION_16)
        menu (resolution(24),&File/Save &resolution/2&4 Bit/#exclusive(@BITS_PER_SAMPLE),,ID_FILE_SAVE_RESOLUTION_24)
    menu (ignore(),&File/#separator)

    menu (importascii(),&File/&Import Ascii...,CTRL+I)
    menu (exportascii(),&File/&Export to Ascii...,CTRL+E)
    menu (ignore(),&File/#separator)

    menu (newwindow(),&File/&New &Window,CTRL+W)
    menu (ignore(),&File/#separator)

    menu (revert(),&File/&Revert/#icon(reload.xpm),CTRL+R,ID_FILE_REVERT)
    menu (revert(),&File/&Revert/#group(@SIGNAL))

    menu (ignore(),&File/#separator)

    menu (quit(),&File/&Quit/#icon(exit.xpm),CTRL+Q)
    menu (ignore(),&File,,ID_FILE)

menu (ignore(),&Edit,,ID_EDIT)
    menu (undo(),&Edit/&Undo/#icon(undo.xpm),CTRL+Z)
    menu (undo(),&Edit/&Undo/#disabled)
    menu (redo(),&Edit/&Redo/#icon(redo.xpm),CTRL+Y)
    menu (redo(),&Edit/&Redo/#disabled)
    menu (ignore(),&Edit/#separator)

    menu (cut(),&Edit/Cu&t/#icon(editcut.xpm),CTRL+X)
    menu (cut(),&Edit/Cu&t/#group(@SIGNAL,@SELECTION))
    menu (copy(),&Edit/&Copy/#icon(editcopy.xpm),CTRL+C)
    menu (copy(),&Edit/&Copy/#group(@SIGNAL,@SELECTION))
    menu (paste(),&Edit/&Paste/#icon(editpaste.xpm),CTRL+V)
    menu (crop(),&Edit/&Crop/#icon(knife.xpm),SHIFT+CTRL+X)
    menu (crop(),&Edit/&Crop/#group(@SIGNAL,@SELECTION))
    menu (ignore(),&Edit/#separator)

    menu (dialog(stringenter),&Edit/&Enter Command,CTRL+E)
    menu (ignore(),&Edit/#separator)

    menu (selectall(),&Edit/&Selection/#group(@SIGNAL))
    menu (selectall(),&Edit/&Selection/&All,CTRL+A)
    menu (selectrange(),&Edit/&Selection/&Range,R)
    menu (selectvisible(),&Edit/&Selection/&Visible area,V)
    menu (expandtolabel(),&Edit/&Selection/&Expand to labels/#disabled,E)
    menu (selectnext(),&Edit/&Selection/&Next,SHIFT+PLUS)
    menu (selectprev(),&Edit/&Selection/&Previous,SHIFT+MINUS)
    menu (selectnone(),&Edit/&Selection/&Nothing,N)
    menu (selecttoleft(),&Edit/&Selection/&to start,SHIFT+HOME)
    menu (selecttoright(),&Edit/&Selection/&to end,SHIFT+END)
    menu (ignore(),&Edit/#separator)

    menu (addchannel(),&Edit/C&hannel/&Add,SHIFT+A)
        menu (deletechannel(%s),&Edit/C&hannel/&Delete/#listmenu,,ID_EDIT_CHANNEL_DELETE)
        menu (deletechannel(),&Edit/C&hannel/&Delete/#group(@SIGNAL))
        menu (dialog(mix),&Edit/C&hannel/&Mix/#group(@SIGNAL),SHIFT+M)
        menu (dialog(mix),&Edit/C&hannel/&Mix/#disabled,SHIFT+M)
        menu (selectchannels(),&Edit/C&hannel/&Select all/#group(@SIGNAL),SHIFT+CTRL+A)
        menu (invertchannels(),&Edit/C&hannel/&Invert Selection/#group(@SIGNAL),SHIFT+I)
    menu (ignore(),&Edit/#separator)

    menu (ignore(),&Edit/&Clipboard/#disabled)
        menu (flushclipboard(),&Edit/&Clipboard/&Flush)
        menu (clipboardtonew(),&Edit/&Clipboard/&to new Window)
    menu (ignore(),&Edit/#separator)

    menu (mixpaste(),&Edit/&Mix & Paste,CTRL+SHIFT+X)
    menu (trim(),&Edit/Tri&m,CTRL+T)
    menu (delete(),&Edit/&Delete/#icon(delete.xpm),DEL)
    menu (delete(),&Edit/&Delete/#group(@SELECTION),DEL)
    menu (ignore(),&Edit/#separator)

    menu (flip(),&Edit/&Flip Phase/#group(@SIGNAL))
    menu (center(),&Edit/&Center Signal/#group(@SIGNAL))
    menu (resample(),&Edit/&Resample/#group(@SIGNAL),SHIFT+R)

menu (ignore(),&View/#group(@SIGNAL),,ID_VIEW)
    menu (viewnext(),&View/&Next Page/#icon(forward.xpm),PAGEUP)
    menu (viewprev(),&View/&Previous Page/#icon(back.xpm),PAGEDOWN)
    menu (scrollright(),&View/Scroll &right,RIGHT)
    menu (scrollleft(),&View/Scroll &left,LEFT)
    menu (ignore(),&View/#separator)
    menu (zoomin(),&View/Zoom &In/#icon(viewmag+.xpm),CTRL+PLUS)
    menu (zoomout(),&View/Zoom &Out/#icon(viewmag-.xpm),CTRL+MINUS)
    menu (zoomrange(),&View/Zoom to &Selection,CTRL+SPACE)

menu (ignore(),&Labels/#group(@SIGNAL),,ID_LABELS)
menu (ignore(),&Labels/#disabled)
    menu (label(),&Labels/&Add/#disabled,A)
    menu (deletelabel(),&Labels/&Delete/#disabled,D)
    menu (ignore(),&Labels/#separator)

    menu (ignore(),&Labels/&Generate/#disabled)
        menu (dialog(amptolabel),&Labels/&Generate/Label by &Intensity/#disabled)
        menu (dialog(pitch),&Labels/&Generate/Label by &Period/#disabled)
        menu (loadlabel(),&Labels/&Load labels.../#disabled)
        menu (insertlabel(),&Labels/&Insert labels.../#disabled)
    menu (ignore(),&Labels/#separator)

    menu (ignore(),&Labels/&Save/#disabled)
        menu (dialog(savelabel),&Labels/&Save/Labels.../#disabled)
        menu (saveperiods(),&Labels/&Save/Periods.../#disabled)
    menu (ignore(),&Labels/#separator)

    menu (labeltopitch(),&Labels/&Convert label distance to pitch/#disabled)
    menu (ignore(),&Labels/#separator)

    menu (dialog (labeltype),&Labels/Create &type/#disabled)
    menu (chooselabel(),&Labels/&Choose type/#listmenu,,ID_LABELS_TYPE)
    menu (chooselabel(),&Labels/&Choose type/#number)

menu (ignore(),F&x/#group(@SIGNAL),,ID_FX)
    menu (ignore(),F&x/&Amplify)
        menu (dialog (distort),F&x/&Amplify/&Distort,SHIFT+D)
        menu (dialog (fadein),F&x/&Amplify/Fade &In,I)
        menu (dialog (fadeout),F&x/&Amplify/Fade &Out,O)
        menu (dialog (amplifyfree),F&x/&Amplify/&Free)
        menu (amplifytomax(),F&x/&Amplify/to &Maximum/#disabled,M)
        menu (amplifyclip(),F&x/&Amplify/with &Clipboard/#disabled)
    menu (ignore(),F&x/#separator)

    menu (ignore(),F&x/&Filter)
        menu (dialog (movingaverage),F&x/&Filter/&Moving Average/#disabled)
        menu (dialog (filter),F&x/&Filter/&Create)
        menu (ignore (),F&x/&Filter/&Presets/to be done.../#disabled)
    menu (ignore(),F&x/#separator)
    menu (dialog (delay),F&x/De&lay)
    menu (reverse (),F&x/&Reverse)
    menu (dialog (gap),F&x/&Periodic Silence/#disabled)
    menu (ignore(),F&x/#separator)

    menu (dialog(rate),F&x/&Change rate)
    menu (dialog(quantize),F&x/Re&quantize)

menu (ignore(),&Calculate/#group(@SIGNAL),,ID_CALCULATE)
    menu (zero (),&Calculate/&Silence/#icon(eraser.xpm))
    menu (noise (),&Calculate/&Noise)
    menu (dialog (addsynth),&Calculate/&Additive Synthesis)
    menu (dialog (pulse),&Calculate/&Pulse Train/#disabled)
    menu (ignore(),&Calculate/#separator)

    menu (dialog(envelope),&Calculate/&Envelope)
    menu (ignore(),&Calculate/#separator)

    menu (ignore(),&Calculate/&Frequencies/#disabled)
	menu (dialog(fft),&Calculate/&Frequencies/Spe&ctrum,F)
        menu (dialog(averagefft),&Calculate/&Frequencies/&Average spectrum,SHIFT_F)
        menu (plugin(sonagram),&Calculate/&Frequencies/&Sonagram,S)
        menu (ignore(),&Calculate/&Frequencies)

menu (ignore(),&Macro)
    menu (macro(start),&Macro/&Start recording/#disabled)
    menu (macro(stop),&Macro/S&top recording/#disabled)
    menu (dialog(macro),&Macro/&Edit/#disabled)
    menu (ignore(),&Macro/#separator)
    menu (macro_play(%s),&Macro/E&xecute/#listmenu,,ID_MACROS)
    menu (macro_play(%s),&Macro/E&xecute/#disabled,,ID_MACROS)

menu (ignore(),&Options)
    menu (dialog (playback),&Options/&Playback)
    menu (dialog (memory),&Options/&Memory/#disabled)
    menu (dialog (menu),&Options/&Menus/#disabled)

menu (ignore(),#separator)
menu (help(),&Help/&Contents,F1)
menu (plugin(about),&Help/&About kwave...)
